

.a11121 {
  width               : 100%;
  min-width           : 1280px;
  height              : 100vh;
  min-height          : 753px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(247, 250, 251, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a11121 .groupcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 29px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 224px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a11121 .groupcopy4:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.a11121 .groupcopy4 .rectangle {
  background-color    : rgba(174, 192, 126, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .groupcopy4 .back {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.a11121 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 755px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 755px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 755px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .group4 .rectangle {
  background-color    : rgba(72, 79, 53, 1.0);
  top                 : 0px;
  height              : 755px;
  box-sizing          : border-box;
  width               : 192px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .group4 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 657px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 82px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .group4 .group3 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .group4 .group3 .group2 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .group4 .group3 .iconsaddsmall2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .group4 .group3 .iconsaddsmall2 .iconsaddsmall {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 15px;
  width               : 15px;
  position            : relative;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .group4 .group3 .iconsaddsmall2 .iconsaddsmall .iconsaddsmall1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .group4 .rectangle1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 184px;
  height              : 43px;
  box-sizing          : border-box;
  width               : 188px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
  transition          : all 0.2s ease-in-out;
}
.a11121 .group6 .group6copy .group4 .rectangle1:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.a11121 .group6 .group6copy .group4 .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 354px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  transition          : all 0.2s ease-in-out;
}
.a11121 .group6 .group6copy .group4 .rectanglecopy:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.a11121 .group6 .group6copy .group4 .rectanglecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 452px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  transition          : all 0.2s ease-in-out;
}
.a11121 .group6 .group6copy .group4 .rectanglecopy2:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.a11121 .group6 .group6copy .group4 .rectanglecopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  transition          : all 0.2s ease-in-out;
}
.a11121 .group6 .group6copy .group4 .rectanglecopy4:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.a11121 .group6 .group6copy .group4 .rectanglecopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 227px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  transition          : all 0.2s ease-in-out;
}
.a11121 .group6 .group6copy .group4 .rectanglecopy5:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.a11121 .group6 .group6copy .group4 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 195px;
  height              : 292px;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 238px;
  height              : 17px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .path2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 369px;
  height              : 17px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .path2copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 464px;
  height              : 17px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 550px;
  height              : 83px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .group9 .rectanglecopy10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  transition          : all 0.2s ease-in-out;
}
.a11121 .group6 .group6copy .group9 .rectanglecopy10:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.a11121 .group6 .group6copy .group9 .rectanglecopy111 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  transition          : all 0.2s ease-in-out;
}
.a11121 .group6 .group6copy .group9 .rectanglecopy111:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.a11121 .group6 .group6copy .group9 .settingscopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11121 .group6 .group6copy .group9 .settingscopy:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.a11121 .group6 .group6copy .group9 .logoutcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 53px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11121 .group6 .group6copy .group9 .logoutcopy:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.a11121 .group6 .group6copy .group9 .pathcopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .group6copy .group9 .pathcopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .pathcopy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 201px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .word {
  background-color    : rgba(255,255,255,0.0);
  top                 : 142px;
  height              : 407px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group6 .word .profile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 53px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11121 .group6 .word .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11121 .group6 .word .private {
  background-color    : rgba(255,255,255,0.0);
  top                 : 224px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11121 .group6 .word .expert {
  background-color    : rgba(255,255,255,0.0);
  top                 : 321px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11121 .group6 .word .jason {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.a11121 .group6 .word .heartfailure {
  background-color    : rgba(255,255,255,0.0);
  top                 : 127px;
  height              : auto;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11121 .group6 .word .highbloodpressure {
  background-color    : rgba(255,255,255,0.0);
  top                 : 157px;
  height              : auto;
  width               : 91px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11121 .group6 .word .jeremy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 284px;
  height              : auto;
  width               : 91px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11121 .group6 .word .rachael {
  background-color    : rgba(255,255,255,0.0);
  top                 : 254px;
  height              : auto;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11121 .group6 .word .amyhill {
  background-color    : rgba(255,255,255,0.0);
  top                 : 383px;
  height              : auto;
  width               : 91px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11121 .group6 .word .alanstern {
  background-color    : rgba(255,255,255,0.0);
  top                 : 353px;
  height              : auto;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11121 .rectanglecopy11 {
  background-color    : rgba(215, 215, 215, 0.3);
  top                 : 85px;
  height              : 670px;
  width               : 1090px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .groupcopy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 654px;
  height              : 56px;
  width               : 752px;
  position            : absolute;
  margin              : 0;
  left                : 223px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .groupcopy9 .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 752px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .groupcopy9 .sendamessage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : 354px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.a11121 .groupcopy9 .xiaolianx {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .groupcopy9 .tupian {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 702px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .rectanglecopy6 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 106px;
  height              : 169px;
  box-sizing          : border-box;
  width               : 488px;
  position            : absolute;
  margin              : 0;
  left                : 487px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 106px;
  height              : 604px;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 1001px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .rectanglecopy7 {
  background-color    : rgba(245, 244, 244, 1.0);
  top                 : 0px;
  height              : 604px;
  box-sizing          : border-box;
  width               : 259px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .ovalcopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .ovalcopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 119px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .ovalcopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 209px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .ovalcopy10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 329px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .ovalcopy11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 498px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .iu2019vebeenhavingiss {
  background-color    : rgba(255,255,255,0.0);
  top                 : 322px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a11121 .group7 .rectangle {
  background-color    : rgba(174, 192, 126, 0.2);
  top                 : 40px;
  height              : 37px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .rectanglecopy9 {
  background-color    : rgba(174, 192, 126, 0.2);
  top                 : 320px;
  height              : 75px;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .rectanglecopy13 {
  background-color    : rgba(174, 192, 126, 0.2);
  top                 : 508px;
  height              : 41px;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .iwilllookintoit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 516px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a11121 .group7 .rectanglecopy12 {
  background-color    : rgba(174, 192, 126, 0.2);
  top                 : 414px;
  height              : 75px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .itu2019sacommonsituat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 423px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a11121 .group7 .rectanglecopy8 {
  background-color    : rgba(174, 192, 126, 0.2);
  top                 : 210px;
  height              : 85px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .rectanglecopy3 {
  background-color    : rgba(174, 192, 126, 0.2);
  top                 : 118px;
  height              : 58px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .ovalcopy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 422px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .a5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 325px;
  height              : 63px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 195px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .a5copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 494px;
  height              : 63px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 195px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .howhaveyoubeensi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : auto;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a11121 .group7 .ididsomeofyourr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a11121 .group7 .lovelyhavingasus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 210px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a11121 .group7 .a9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 62px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .a9copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : 62px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .a8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 110px;
  height              : 68px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group7 .a8copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 414px;
  height              : 68px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group4copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 311px;
  height              : 325px;
  width               : 759px;
  position            : absolute;
  margin              : 0;
  left                : 220px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group4copy2 .images {
  background-color    : rgba(255,255,255,0.0);
  top                 : 173px;
  height              : 152px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group4copy2 .closeupafricanamericanladytalkingcellphonesmiling338399448 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 152px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 528px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group4copy2 .d0b719d2d2109044b239528f76c05015503795cf {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 153px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 264px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group4copy2 .httpsprodstatic9netaumedianetworkimages201903281750happypeoplehavethesetraitsincommon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 152px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group4copy2 .user1user2user3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 629px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.a11121 .group4copy2 .user4user5user6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 177px;
  height              : auto;
  width               : 629px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.a11121 .announcementcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 113px;
  height              : auto;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 501px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.a11121 .descriptioncopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 107px;
  height              : 168px;
  width               : 1635px;
  position            : absolute;
  margin              : 0;
  left                : 236px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .descriptioncopy7 .nurse791x1024 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 168px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .descriptioncopy7 .nurse791x1024copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 168px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 1515px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .descriptioncopy7 .moderatorcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.a11121 .pathcopy10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 200px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 1499px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group8copy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 153px;
  height              : 98px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .group8copy7 .avoidingflufluand {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(151, 151, 151, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a11121 .group8copy7 .avoidingflufluand .span1 {
  line-height         : 24.0px;
}
.a11121 .group8copy7 .avoidingflufluand .span2 {
  line-height         : 9.0px;
}
.a11121 .group8copy7 .avoidingflufluand .span3 {
  font-size           : 12.0px;
  line-height         : 12.0px;
}
.a11121 .group8copy7 .a5a8ddb19391d9471008b472b {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .a99675807marinabenjaminxxlargetransnvbqzqnjv4bqlipdkouvv9go4qfzlscgqk02vqt6xhewmiwoxdx7bem {
  background-color    : rgba(255,255,255,0.0);
  top                 : 484px;
  height              : 152px;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a11121 .boomerly5mistakesthatstoppeoplefromfindinghappinessinlifeafter50 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 484px;
  height              : 152px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 484px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}