

.wireframefourcopy4 {
  width               : 100%;
  min-width           : 1280px;
  height              : 100vh;
  min-height          : 753px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(247, 250, 251, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.wireframefourcopy4 .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 183px;
  height              : 479px;
  width               : 906px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.6;
}
.wireframefourcopy4 .group8 .buttoncopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 36px;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 564px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .buttoncopy2 .base {
  background-color    : rgba(222, 123, 73, 1.0);
  top                 : 0px;
  height              : 36px;
  width               : 160px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .buttoncopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 168px;
  height              : 94px;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 535px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .buttoncopy3 .base {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 94px;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .buttoncopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 352px;
  height              : 36px;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 564px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .buttoncopy4 .base {
  background-color    : rgba(138, 167, 193, 1.0);
  top                 : 0px;
  height              : 35px;
  width               : 160px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .meetotherscopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 587px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.wireframefourcopy4 .group8 .moderatorcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 194px;
  height              : auto;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 597px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.wireframefourcopy4 .group8 .expertscopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 356px;
  height              : auto;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 597px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.wireframefourcopy4 .group8 .descriptioncopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 69px;
  height              : 71px;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 573px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .descriptioncopy4 .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 9px;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .descriptioncopy4 .rectangle1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 31px;
  height              : 9px;
  width               : 237px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .descriptioncopy4 .rectangle2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 62px;
  height              : 9px;
  width               : 176px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .descriptioncopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 257px;
  height              : 71px;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 573px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .descriptioncopy5 .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 9px;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .descriptioncopy5 .rectangle1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 31px;
  height              : 9px;
  width               : 237px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .descriptioncopy5 .rectangle2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 62px;
  height              : 9px;
  width               : 176px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .descriptioncopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 408px;
  height              : 71px;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 573px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .descriptioncopy6 .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 9px;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .descriptioncopy6 .rectangle1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 31px;
  height              : 9px;
  width               : 237px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .descriptioncopy6 .rectangle2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 62px;
  height              : 9px;
  width               : 176px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group8 .nurseandmansmilingcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 467px;
  width               : 472px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group2copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : 22px;
  width               : 732px;
  position            : absolute;
  margin              : 0;
  left                : 451px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group2copy4 .group2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 732px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group2copy4 .group2copy .authbuttons {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 589px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group2copy4 .group2copy .authbuttons .rectangle {
  background-color    : rgba(174, 192, 126, 1.0);
  top                 : 0px;
  height              : 22px;
  width               : 143px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group2copy4 .group2copy .virtualsupport {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.wireframefourcopy4 .group2copy4 .group2copy .patientlearning {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 145px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.wireframefourcopy4 .group2copy4 .group2copy .patientadocate {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 296px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.wireframefourcopy4 .group2copy4 .group2copy .contactus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 444px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.wireframefourcopy4 .group2copy4 .group2copy .signinsignup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 600px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.wireframefourcopy4 .group6copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 434px;
  height              : 118px;
  width               : 514px;
  position            : absolute;
  margin              : 0;
  left                : 664px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group6copy .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 118px;
  width               : 514px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group6copy .group2 .base {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 118px;
  width               : 514px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .chatwithrealname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 444px;
  height              : auto;
  width               : 309px;
  position            : absolute;
  margin              : 0;
  left                : 714px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.wireframefourcopy4 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 481px;
  height              : 59px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 714px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group4 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 29px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy4 .group4 .group3:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy4 .group4 .group3 .rectangle {
  background-color    : rgba(174, 192, 126, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group4 .group3 .realname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.wireframefourcopy4 .group4 .a1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 59px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 481px;
  height              : 59px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 962px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group5 .a3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 59px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group5 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 29px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy4 .group5 .group:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy4 .group5 .group .rectanglecopy {
  background-color    : rgba(174, 192, 126, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy4 .group5 .group .anonymous {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}