

.wireframefourcopy9 {
  width               : 100%;
  min-width           : 1280px;
  height              : 100vh;
  min-height          : 753px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(247, 250, 251, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.wireframefourcopy9 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 29px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 224px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy9 .group:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .group .rectangle3 {
  background-color    : rgba(174, 192, 126, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group .back {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.wireframefourcopy9 .rectanglecopy9 {
  background-color    : rgba(215, 215, 215, 0.18);
  top                 : -982px;
  height              : 679px;
  width               : 1090px;
  position            : absolute;
  margin              : 0;
  left                : 2992px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 205px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .pathcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 325px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .pathcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 245px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .pathcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 365px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .pathcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 285px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .pathcopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 405px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : 52px;
  box-sizing          : border-box;
  width               : 734px;
  position            : absolute;
  margin              : 0;
  left                : 347px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 0.5);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .searchforaspecifi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 141px;
  height              : auto;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 519px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(151, 151, 151, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.wireframefourcopy9 .fangdajing {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 364px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .rectangle1 {
  background-color    : rgba(215, 215, 215, 0.18);
  top                 : 189px;
  height              : 564px;
  width               : 1090px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .vediocoursetofoll {
  background-color    : rgba(255,255,255,0.0);
  top                 : 212px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 255px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(38, 38, 38, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.wireframefourcopy9 .customizedrecipeto {
  background-color    : rgba(255,255,255,0.0);
  top                 : 393px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 255px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(38, 38, 38, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.wireframefourcopy9 .principleofdisease {
  background-color    : rgba(255,255,255,0.0);
  top                 : 574px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 255px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(38, 38, 38, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.wireframefourcopy9 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 235px;
  height              : 150px;
  width               : 905px;
  position            : absolute;
  margin              : 0;
  left                : 280px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .rectanglecopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 416px;
  height              : 150px;
  width               : 905px;
  position            : absolute;
  margin              : 0;
  left                : 280px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .rectanglecopy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 597px;
  height              : 150px;
  width               : 905px;
  position            : absolute;
  margin              : 0;
  left                : 280px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 98px;
  width               : 261px;
  position            : absolute;
  margin              : 0;
  left                : 315px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8 .dancingbeingphysic {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(151, 151, 151, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.wireframefourcopy9 .group8 .dancingbeingphysic .span1 {
  line-height         : 24.0px;
}
.wireframefourcopy9 .group8 .dancingbeingphysic .span2 {
  line-height         : 9.0px;
}
.wireframefourcopy9 .group8 .dancingbeingphysic .span3 {
  font-size           : 12.0px;
  line-height         : 12.0px;
}
.wireframefourcopy9 .group8 .dancingbeingphysic .span4 {
  font-size           : 12.0px;
  line-height         : 4.0px;
}
.wireframefourcopy9 .group8 .dancingbeingphysic .span5 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8 .dancetherapy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 442px;
  height              : 98px;
  width               : 261px;
  position            : absolute;
  margin              : 0;
  left                : 315px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy3 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy3 .dancingforrelievin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(151, 151, 151, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.wireframefourcopy9 .group8copy3 .dancingforrelievin .span1 {
  line-height         : 24.0px;
}
.wireframefourcopy9 .group8copy3 .dancingforrelievin .span2 {
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy3 .dancingforrelievin .span3 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy3 .dancingforrelievin .span4 {
  font-size           : 12.0px;
  line-height         : 4.0px;
}
.wireframefourcopy9 .group8copy3 .dancingforrelievin .span5 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 622px;
  height              : 98px;
  width               : 261px;
  position            : absolute;
  margin              : 0;
  left                : 315px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy6 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy6 .dancingforrelievin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(151, 151, 151, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.wireframefourcopy9 .group8copy6 .dancingforrelievin .span1 {
  line-height         : 24.0px;
}
.wireframefourcopy9 .group8copy6 .dancingforrelievin .span2 {
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy6 .dancingforrelievin .span3 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy6 .dancingforrelievin .span4 {
  font-size           : 12.0px;
  line-height         : 4.0px;
}
.wireframefourcopy9 .group8copy6 .dancingforrelievin .span5 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 98px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 599px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy .selfmonitormonitor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(151, 151, 151, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.wireframefourcopy9 .group8copy .selfmonitormonitor .span1 {
  line-height         : 24.0px;
}
.wireframefourcopy9 .group8copy .selfmonitormonitor .span2 {
  line-height         : 9.0px;
}
.wireframefourcopy9 .group8copy .selfmonitormonitor .span3 {
  font-size           : 12.0px;
  line-height         : 12.0px;
}
.wireframefourcopy9 .group8copy .selfmonitormonitor .span4 {
  font-size           : 12.0px;
  line-height         : 4.0px;
}
.wireframefourcopy9 .group8copy .selfmonitormonitor .span5 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy .whatsthedifferencebetweenaholtermonitorandqardiocore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 442px;
  height              : 98px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 599px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy4 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy4 .dancingforrelievin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(151, 151, 151, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.wireframefourcopy9 .group8copy4 .dancingforrelievin .span1 {
  line-height         : 24.0px;
}
.wireframefourcopy9 .group8copy4 .dancingforrelievin .span2 {
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy4 .dancingforrelievin .span3 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy4 .dancingforrelievin .span4 {
  font-size           : 12.0px;
  line-height         : 4.0px;
}
.wireframefourcopy9 .group8copy4 .dancingforrelievin .span5 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 622px;
  height              : 98px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 599px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy7 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy7 .dancingforrelievin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(151, 151, 151, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.wireframefourcopy9 .group8copy7 .dancingforrelievin .span1 {
  line-height         : 24.0px;
}
.wireframefourcopy9 .group8copy7 .dancingforrelievin .span2 {
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy7 .dancingforrelievin .span3 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy7 .dancingforrelievin .span4 {
  font-size           : 12.0px;
  line-height         : 4.0px;
}
.wireframefourcopy9 .group8copy7 .dancingforrelievin .span5 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 98px;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 907px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy2 .yogatake15minutes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 161px;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(151, 151, 151, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.wireframefourcopy9 .group8copy2 .yogatake15minutes .span1 {
  line-height         : 24.0px;
}
.wireframefourcopy9 .group8copy2 .yogatake15minutes .span2 {
  line-height         : 9.0px;
}
.wireframefourcopy9 .group8copy2 .yogatake15minutes .span3 {
  font-size           : 12.0px;
  line-height         : 12.0px;
}
.wireframefourcopy9 .group8copy2 .yogatake15minutes .span4 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy2 .istock1031422756 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 442px;
  height              : 98px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 907px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy5 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy5 .dancingforrelievin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(151, 151, 151, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.wireframefourcopy9 .group8copy5 .dancingforrelievin .span1 {
  line-height         : 24.0px;
}
.wireframefourcopy9 .group8copy5 .dancingforrelievin .span2 {
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy5 .dancingforrelievin .span3 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy5 .dancingforrelievin .span4 {
  font-size           : 12.0px;
  line-height         : 4.0px;
}
.wireframefourcopy9 .group8copy5 .dancingforrelievin .span5 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 622px;
  height              : 98px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 907px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy8 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .group8copy8 .dancingforrelievin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(151, 151, 151, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.wireframefourcopy9 .group8copy8 .dancingforrelievin .span1 {
  line-height         : 24.0px;
}
.wireframefourcopy9 .group8copy8 .dancingforrelievin .span2 {
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy8 .dancingforrelievin .span3 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .group8copy8 .dancingforrelievin .span4 {
  font-size           : 12.0px;
  line-height         : 4.0px;
}
.wireframefourcopy9 .group8copy8 .dancingforrelievin .span5 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.wireframefourcopy9 .leftsidebar {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 755px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .leftsidebar .rectangle3 {
  background-color    : rgba(72, 79, 53, 1.0);
  top                 : 0px;
  height              : 755px;
  box-sizing          : border-box;
  width               : 192px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .leftsidebar .jason {
  background-color    : rgba(255,255,255,0.0);
  top                 : 142px;
  height              : auto;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.wireframefourcopy9 .leftsidebar .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 651px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 82px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .leftsidebar .group3 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .leftsidebar .group3 .group2 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .leftsidebar .group3 .iconsaddsmall2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .leftsidebar .group3 .iconsaddsmall2 .iconsaddsmall {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 15px;
  width               : 15px;
  position            : relative;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .leftsidebar .group3 .iconsaddsmall2 .iconsaddsmall .iconsaddsmall1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframefourcopy9 .leftsidebar .rectangle11 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 184px;
  height              : 43px;
  box-sizing          : border-box;
  width               : 188px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy9 .leftsidebar .rectangle11:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 266px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy9 .leftsidebar .group7:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .group7 .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy9 .leftsidebar .group7 .rectanglecopy:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .group7 .private {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.wireframefourcopy9 .leftsidebar .rectanglecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 306px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy9 .leftsidebar .rectanglecopy2:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .rectanglecopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 346px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy9 .leftsidebar .rectanglecopy3:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .rectanglecopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 386px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy9 .leftsidebar .rectanglecopy6:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy9 .leftsidebar .group5:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .group5 .rectanglecopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy9 .leftsidebar .group5 .rectanglecopy4:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .group5 .profile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.wireframefourcopy9 .leftsidebar .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 226px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy9 .leftsidebar .group6:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .group6 .rectanglecopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  transition          : all 0.2s ease-in-out;
}
.wireframefourcopy9 .leftsidebar .group6 .rectanglecopy5:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .group6 .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.wireframefourcopy9 .leftsidebar .expert {
  background-color    : rgba(255,255,255,0.0);
  top                 : 319px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.wireframefourcopy9 .leftsidebar .expert:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .settings {
  background-color    : rgba(255,255,255,0.0);
  top                 : 359px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.wireframefourcopy9 .leftsidebar .settings:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .logout {
  background-color    : rgba(255,255,255,0.0);
  top                 : 399px;
  height              : auto;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.wireframefourcopy9 .leftsidebar .logout:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.wireframefourcopy9 .leftsidebar .a5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 118px;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}